In [ ]:
%env ETL_CONF_BASE_URL=/home/jovyan/tutorial

In [ ]:
{
  "type": "DelimitedExtract",
  "name": "extract data from green_tripdata/0",
  "environments": ["production", "test"],
  "inputURI": ${ETL_CONF_BASE_URL}"/data/green_tripdata/0/*",
  "outputView": "green_tripdata0_raw",            
  "delimiter": "Comma",
  "quote": "DoubleQuote",
  "header": true
}

In [ ]:
{
  "type": "TypingTransform",
  "name": "apply green_tripdata/0 data types",
  "environments": ["production", "test"],
  "inputURI": ${ETL_CONF_BASE_URL}"/meta/green_tripdata/0/green_tripdata.json",
  "inputView": "green_tripdata0_raw",            
  "outputView": "green_tripdata0",
  "persist": true
}

In [ ]:
{
  "type": "SQLValidate",
  "name": "ensure no errors exist after data typing",
  "environments": ["production", "test"],
  "inputURI": ${ETL_CONF_BASE_URL}"/job/4/sqlvalidate_errors.sql",            
  "sqlParams": {
      "table_name": "green_tripdata0"
  }
}

In [ ]:
{
  "type": "DelimitedExtract",
  "name": "extract data from green_tripdata/1",
  "environments": ["production", "test"],
  "inputURI": ${ETL_CONF_BASE_URL}"/data/green_tripdata/1/*",
  "outputView": "green_tripdata1_raw",            
  "delimiter": "Comma",
  "quote": "DoubleQuote",
  "header": true
}

In [ ]:
{
  "type": "TypingTransform",
  "name": "apply green_tripdata/1 data types",
  "environments": ["production", "test"],
  "inputURI": ${ETL_CONF_BASE_URL}"/meta/green_tripdata/1/green_tripdata.json",
  "inputView": "green_tripdata1_raw",            
  "outputView": "green_tripdata1",      
  "persist": true
}

In [ ]:
{
  "type": "SQLValidate",
  "name": "ensure no errors exist after data typing",
  "environments": ["production", "test"],
  "inputURI": ${ETL_CONF_BASE_URL}"/job/4/sqlvalidate_errors.sql",            
  "sqlParams": {
      "table_name": "green_tripdata1"
  }
}

In [ ]:
{
  "type": "DelimitedExtract",
  "name": "extract data from green_tripdata/2",
  "environments": ["production", "test"],
  "inputURI": ${ETL_CONF_BASE_URL}"/data/green_tripdata/2/*",
  "outputView": "green_tripdata2_raw",            
  "delimiter": "Comma",
  "quote": "DoubleQuote",
  "header": true
}

In [ ]:
{
  "type": "TypingTransform",
  "name": "apply green_tripdata/2 data types",
  "environments": ["production", "test"],
  "inputURI": ${ETL_CONF_BASE_URL}"/meta/green_tripdata/2/green_tripdata.json",
  "inputView": "green_tripdata2_raw",            
  "outputView": "green_tripdata2",     
  "persist": true
}

In [ ]:
{
  "type": "SQLValidate",
  "name": "ensure no errors exist after data typing",
  "environments": ["production", "test"],
  "inputURI": ${ETL_CONF_BASE_URL}"/job/4/sqlvalidate_errors.sql",            
  "sqlParams": {
      "table_name": "green_tripdata2"
  }
}

In [ ]:
{
  "type": "DelimitedExtract",
  "name": "extract data from yellow_tripdata/0",
  "environments": ["production", "test"],
  "inputURI": ${ETL_CONF_BASE_URL}"/data/yellow_tripdata/0/*",
  "outputView": "yellow_tripdata0_raw",            
  "delimiter": "Comma",
  "quote": "DoubleQuote",
  "header": true
}

In [ ]:
{
  "type": "TypingTransform",
  "name": "apply yellow_tripdata/0 data types",
  "environments": ["production", "test"],
  "inputURI": ${ETL_CONF_BASE_URL}"/meta/yellow_tripdata/0/yellow_tripdata.json",
  "inputView": "yellow_tripdata0_raw",            
  "outputView": "yellow_tripdata0",       
  "persist": true
}

In [ ]:
{
  "type": "SQLValidate",
  "name": "ensure no errors exist after data typing",
  "environments": ["production", "test"],
  "inputURI": ${ETL_CONF_BASE_URL}"/job/4/sqlvalidate_errors.sql",            
  "sqlParams": {
      "table_name": "yellow_tripdata0"
  }
}

In [ ]:
{
  "type": "DelimitedExtract",
  "name": "extract data from yellow_tripdata/1",
  "environments": ["production", "test"],
  "inputURI": ${ETL_CONF_BASE_URL}"/data/yellow_tripdata/1/*",
  "outputView": "yellow_tripdata1_raw",            
  "delimiter": "Comma",
  "quote": "DoubleQuote",
  "header": true
}

In [ ]:
{
  "type": "TypingTransform",
  "name": "apply yellow_tripdata/1 data types",
  "environments": ["production", "test"],
  "inputURI": ${ETL_CONF_BASE_URL}"/meta/yellow_tripdata/1/yellow_tripdata.json",
  "inputView": "yellow_tripdata1_raw",            
  "outputView": "yellow_tripdata1",   
  "persist": true
}

In [ ]:
{
  "type": "SQLValidate",
  "name": "ensure no errors exist after data typing",
  "environments": ["production", "test"],
  "inputURI": ${ETL_CONF_BASE_URL}"/job/4/sqlvalidate_errors.sql",            
  "sqlParams": {
      "table_name": "yellow_tripdata1"
  }
}

In [ ]:
{
  "type": "DelimitedExtract",
  "name": "extract data from yellow_tripdata/2",
  "environments": ["production", "test"],
  "inputURI": ${ETL_CONF_BASE_URL}"/data/yellow_tripdata/2/*",
  "outputView": "yellow_tripdata2_raw",            
  "delimiter": "Comma",
  "quote": "DoubleQuote",
  "header": true
}

In [ ]:
{
  "type": "TypingTransform",
  "name": "apply yellow_tripdata/2 data types",
  "environments": ["production", "test"],
  "inputURI": ${ETL_CONF_BASE_URL}"/meta/yellow_tripdata/2/yellow_tripdata.json",
  "inputView": "yellow_tripdata2_raw",            
  "outputView": "yellow_tripdata2",
  "persist": true
}

In [ ]:
{
  "type": "SQLValidate",
  "name": "ensure no errors exist after data typing",
  "environments": ["production", "test"],
  "inputURI": ${ETL_CONF_BASE_URL}"/job/4/sqlvalidate_errors.sql",            
  "sqlParams": {
      "table_name": "yellow_tripdata2"
  }
}

In [ ]:
{
  "type": "DelimitedExtract",
  "name": "extract data from uber_tripdata/0",
  "environments": ["production", "test"],
  "inputURI": ${ETL_CONF_BASE_URL}"/data/uber_tripdata/0/*",
  "outputView": "uber_tripdata0_raw",            
  "delimiter": "Comma",
  "quote": "DoubleQuote",
  "header": true
}

In [ ]:
{
  "type": "TypingTransform",
  "name": "apply uber_tripdata/0 data types",
  "environments": ["production", "test"],
  "inputURI": ${ETL_CONF_BASE_URL}"/meta/uber_tripdata/0/uber_tripdata.json",
  "inputView": "uber_tripdata0_raw",            
  "outputView": "uber_tripdata0",   
  "persist": true
}

In [ ]:
{
  "type": "SQLValidate",
  "name": "ensure no errors exist after data typing",
  "environments": ["production", "test"],
  "inputURI": ${ETL_CONF_BASE_URL}"/job/4/sqlvalidate_errors.sql",            
  "sqlParams": {
      "table_name": "uber_tripdata0"
  }
}

In [ ]:
{
  "type": "DelimitedExtract",
  "name": "extract data from uber_tripdata/1",
  "environments": ["production", "test"],
  "inputURI": ${ETL_CONF_BASE_URL}"/data/uber_tripdata/1/*",
  "schemaURI": ${ETL_CONF_BASE_URL}"/meta/uber_tripdata/1/uber_tripdata.json",
  "outputView": "uber_tripdata1_raw",            
  "delimiter": "Comma",
  "quote": "DoubleQuote",
  "header": true
}

In [ ]:
{
  "type": "TypingTransform",
  "name": "apply uber_tripdata/1 data types",
  "environments": ["production", "test"],
  "inputURI": ${ETL_CONF_BASE_URL}"/meta/uber_tripdata/1/uber_tripdata.json",
  "inputView": "uber_tripdata1_raw",            
  "outputView": "uber_tripdata1",   
  "persist": true
}

In [ ]:
{
  "type": "SQLValidate",
  "name": "ensure no errors exist after data typing",
  "environments": ["production", "test"],
  "inputURI": ${ETL_CONF_BASE_URL}"/job/4/sqlvalidate_errors.sql",            
  "sqlParams": {
      "table_name": "uber_tripdata1"
  }
}

In [ ]:
{
  "type": "JSONExtract",
  "name": "load payment_type_id reference table",
  "environments": ["production", "test"],
  "inputURI": ${ETL_CONF_BASE_URL}"/data/reference/payment_type_id.json",
  "outputView": "payment_type_id",            
  "persist": true,
  "multiLine": false
}

In [ ]:
{
  "type": "JSONExtract",
  "name": "load cab_type_id reference table",
  "environments": ["production", "test"],
  "inputURI": ${ETL_CONF_BASE_URL}"/data/reference/cab_type_id.json",
  "outputView": "cab_type_id",            
  "persist": true,
  "multiLine": false
}

In [ ]:
{
  "type": "JSONExtract",
  "name": "load vendor_id reference table",
  "environments": ["production", "test"],
  "inputURI": ${ETL_CONF_BASE_URL}"/data/reference/vendor_id.json",
  "outputView": "vendor_id",            
  "persist": true,
  "multiLine": false
}

In [ ]:
{
  "type": "SQLTransform",
  "name": "perform lookups for yellow_tripdata0 reference tables",
  "environments": ["production", "test"],
  "inputURI": ${ETL_CONF_BASE_URL}"/job/4/yellow_tripdata0_enrich.sql",
  "outputView": "yellow_tripdata0_enriched",            
  "persist": true
}

In [ ]:
{
  "type": "SQLValidate",
  "name": "ensure that yellow_tripdata0 reference table lookups were successful",
  "environments": ["production", "test"],
  "inputURI": ${ETL_CONF_BASE_URL}"/job/4/yellow_tripdata0_enrich_validate.sql"
}

In [ ]:
{
  "type": "SQLTransform",
  "name": "merge green_tripdata_* to create a full trips",
  "environments": ["production", "test"],
  "inputURI": ${ETL_CONF_BASE_URL}"/job/4/trips.sql",
  "outputView": "trips",            
  "persist": true
}